
.practice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question {
  margin: 10px;
  font-size: 24px;
  width: 90%;
}

.answers-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigate-questions {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.question-navigation {
  display: flex;
  align-items: center;
}

.show-right-answer-btn {
  font-family: 'Fredoka', sans-serif;
  font-size: 14px;
  margin: 24px;
  padding: 8px;
  background-color: var(--success);
  border: none;
  border-radius: 8px;
  color: whitesmoke;
  cursor: pointer;
}

.level-btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.level-btns-container div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 14px;
}

.level-btns-container div span {
  font-size: 14px;
  color:#4b515d;
}

.level-btn {
  font-family: 'Fredoka', sans-serif;
  font-size: 14px;
  padding: 10px 15px;
  border: none;

  border-radius: 10px;
  cursor: pointer;
  color: whitesmoke;
  background-color: var(--blue);
}

.finish-practice-btn {
  width: 90%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  color: whitesmoke;
  background-color: #262626;
  margin: 26px;
  position: absolute;
  bottom: 0;
}

.question-navigation {
  cursor: pointer;
}

.question-img {
  width: 300px;
  height: 200px;
}

.question-navigation span {
  visibility: hidden;
}

@media only screen and (min-width: 1000px) {

  body {
    background-color: whitesmoke;
  }

  .practice-container {
    padding: 2rem;
    width: 70%;
    height: 100vh;
    border: 1px solid rgba(17, 12, 46, 0.15);
    margin: 0 auto;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }

  .question-img {
    width: 400px;
    height: 300px
  }

  .question-navigation span {
    visibility: visible;
  }
}

.level-btns-container {
  text-align: center;
}
