:root {
  --success: green;
  --danger: red;
  --orange: #ffb000;
  --light-green: rgba(227, 246, 227, 0.27);
  --dark-green: #bae8bd;
  --dark:#2c698d;
  --blue: #181d2c;
}

* {
  direction: rtl;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80%;
}
