.pie-chart {
  width: 85%;
  margin: 20px auto;
}

.pie-title {
  width: 85%;
  font-size: 1.25rem;
  margin: 10px auto;
}

@media only screen and (min-width: 1000px) {
  .pie-chart {
    width: 56%;
    padding: 1rem;
  }

  .pie-title {
    margin: 30px 80px;
  }
}
