
input {
  width: 80%;
  padding: 6px 12px;
  border-radius: 8px;
  background: #fff;
  color: #525865;
  font-family: inherit;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 12px;
  font-size: 1.4rem;
  direction: ltr;
  line-height: 1.45;
  outline: none;
  border: 1px solid rgba(184, 182, 182, 0.47);
}

input:focus {
  color: #4b515d;
  border: 1px solid #B8B6B6;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;
}

label, .code-text {
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #020202;
  margin: 22px 0 8px 0
}

.sign-in-btn, .confirm-code-btn {
  font-size: 16px;
  padding: 10px 2px;
  background-color: var(--blue);
  color: #ffffff;
  border: none;
  width: 80%;
  border-radius: 10px;
  cursor: pointer;
}

.sign-in-btn span {
  width: 30%;
}

.login-container {
  text-align: center;
  padding: 15px 0 0;
  margin: 30px 10px;
}

.login-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  margin: 10px 5px 30px 10px;
  font-family: inherit;
  width: 100%;
  border: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.login-title {
  display: block;
}

.sign-in-button {
  width: 0;
  height: 0;
}


.navigate-option {
  display: block;
  padding-top: 14px;

}

.navigate-option span {
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .login-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sign-in-btn {
    font-size: 1.2rem;
    padding: 12px 30px;
    background-color: var(--blue);
    color: #ffffff;
    border: none;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
  }

  .confirm-code-btn {
    width: 40%;
  }

  .login-title {
    font-size: 1.4rem;
  }
}
