.answer-container {
  border: 1px solid var(--blue);
  width: 80%;
  padding: 10px;
  cursor: pointer;
  margin: 8px;
  border-radius: 10px;
}

.right-answer {
   background-color: var(--success);
}

.wrong-answer {
  background-color: var(--danger);
}
